<h2>Client Form</h2>

<form action="" id='createForm'>
    <label for="">
        firstname :
    </label>
    <input type="text" name="firstname">
    <label for="">
        lastname :
    </label>
    <input type="text" name="lastname">

    <input type="submit" value="create client">

</form>

<script src="/js/create_client.js"></script>