<h2>{{title}}</h2>

<form action="" id='update'>
    <label for="">
        firstname :
    </label>
    <input type="text" name="firstname" value="{{firstname}}">
    <label for="">
        lastname :
    </label>
    <input type="text" name="lastname" value="{{lastname}}">

    <input type="submit" value="update">

</form>