<h2>{{title}}</h2>

<form action="" id='update'>
    <input type="hidden" name="id" value="{{ID}}">
    <label for="">
        firstname :
    </label>
    <input type="text" name="firstname" value="{{firstname}}">
    <label for="">
        lastname :
    </label>
    <input type="text" name="lastname" value="{{lastname}}">

    <input type="submit" value="update">
    <input type="submit" value="delete">

</form>

<script src="/js/edit-client.js"></script>
<script src="/js/delete-client.js"></script>