<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/client_form">Clients Create</a></li>

    </ul>
</nav>